<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <!-- Style -->
    <link rel="stylesheet" href="../resources/css/index.css">
    <link rel="stylesheet" href="../resources/css/index.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    <!--INICIO DEL HEADER Y NAV-->
    <header class="cabecera">
        <div class="logo">
            <a href="index.html"><img src="../resources/img/logo-ready.png" alt=""></a>
        </div>
        <div class="opciones">
            <div class="opciones--menu">
                <span class="menu--carrito__texto">
                    Carrito
                </span>

                <a href="carrito.html"><img src="../resources/icons/carrito.png" alt=""></a>
                <a href="favoritos.html"><img src="../resources/icons/favoritos.png" alt=""></a>

                <div class="usuario--contenedor">
                    <img src="../resources/icons/usuarios.png" id="icono--usuario" alt="">
                    <div class="usuario--opciones">
                        <a href="register.html" class="usuario--contenedor__enlace">Crear cuenta</a>
                        <a href="login.html" class="usuario--contenedor__enlace">Iniciar sesión</a>
                    </div>
                </div>

            </div>
            <div class="opciones--buscar">
                <form action="" class="buscar">
                    <input type="search" class="buscar--input" id="input-search" placeholder="Buscar" size="45"
                        spellcheck="true">
                    <a href="#" onclick="setSearchLink()" id="input-button" class="buscar--button">Buscar</a>
                </form>
            </div>
        </div>
    </header>

    <div class="separador"></div>

    <!-- Public_Page::navbarTemplate(''); -->
    <nav class="menu sticky-top">
        <div class="menu--titulo">
            <a href="#" class="menu--titulo__texto">CATEGORIAS</a>
        </div>
        <div class="menu--categorias menu--hidden" id="categories">

        </div>
    </nav>
    <!--FIN DEL HEADER Y NAV-->

    <!-- TITULO DE LA SECION -->
    <div class="seccion--titulo my-4">
        <h4 class="seccion--titulo__texto">RESULTADO DE BÚSQUEDA</h3>
    </div>

    <!--CARDS-->
    <div class="container mt-4">
        <div class="row mt-4" id="productos">
        </div>
    </div>

    <div class="separador"></div>

    <!--INICIO DEL FOOTER-->
    <footer class="pie">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-2">
                    <br>
                    <a href="FAQ.php" class="text-dark">
                        <p>Preguntas frecuentes</p>
                    </a>
                </div>
                <div class="col-sm-12 col-lg-2">
                    <br>
                    <a href="SobreNosotros.php" class="text-dark">
                        <p>Sobre Nosotros</p>
                    </a>
                </div>
                <div class="col-sm-12 col-lg-3">
                    <br>
                    <p><a href="https://www.instagram.com/ninety_sevenheart/" class="text-dark"><img
                                src="../resources/img/instagram_logo.png"> @ninety-sevenheart</p></a>
                </div>
                <div class="col-sm-12 col-lg-3">
                    <br>
                    <p><img src="../resources/img/facebook.png"> Ninety-Seven Heart</p>
                </div>
                <div class="col-sm-12 col-lg-2">
                    <br>
                    <p><img src="../resources/img/whatsapp.png">2222-2222</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <p>Derechos reservados - Ninety-Seven Heart 2021</p>
            </div>
        </div>
    </footer>
    <!-- Controller -->
    <script src="../controller/navBar.js"></script>
    <script src="../controller/busqueda.js"></script>
    <script src="../controller/components.js"></script>
    <!-- <script src="../../app/controllers/public/account.js"></script> -->
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <!-- LINKS DE SWEET ALERT -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>